## DATA FRAME - BASIC

Manually Insert Data to Data Frame.

In [2]:
import pandas as pd
D = {"Item Name": ["Ayam Goreng", "Mie Goreng", "Donat"], "Qty": [10, 2, 3] , "Price": [10000, 5000, 7000]}
data = pd.DataFrame(D)
print(data)

     Item Name  Qty  Price
0  Ayam Goreng   10  10000
1   Mie Goreng    2   5000
2        Donat    3   7000

Insert new column to the Data Frame

In [4]:
totalPrice = pd.Series([])
for i in range(len(data)):
  totalPrice[i] = data["Qty"][i] * data["Price"][i] 

data.insert(3, "TotalPrice", totalPrice)
print(data)

     Item Name  Qty  Price  TotalPrice
0  Ayam Goreng   10  10000      100000
1   Mie Goreng    2   5000       10000
2        Donat    3   7000       21000

Get the statistics of the data from the Data Frame

In [16]:
maxValue = data.max()
print("- Maximum -\n")
print("All data: \n", maxValue)
print("Qty: ", maxValue["Qty"])
print("Price: ", maxValue["Price"])
print("Total Price: ", maxValue["TotalPrice"])

minValue = data.min()
print("\n- Minimum -\n")
print("All data: \n", minValue)
print("Qty: ", minValue["Qty"])
print("Price: ", minValue["Price"])
print("Total Price: ", minValue["TotalPrice"])

avgValue = data.mean()
print("\n- Average -\n")
print("All data: \n", avgValue)
print("Qty: ", avgValue["Qty"])
print("Price: ", avgValue["Price"])
print("Total Price: ", avgValue["TotalPrice"])


sumValue = data.sum()
print("\n- Summary -\n")
print("All data: \n", sumValue)
print("Qty: ", sumValue["Qty"])
print("Price: ", sumValue["Price"])
print("Total Price: ", sumValue["TotalPrice"])

- Maximum -

All data:
 Item Name     Mie Goreng
Qty                   10
Price              10000
TotalPrice        100000
dtype: object
Qty:  10
Price:  10000
Total Price:  100000

- Minimum -

All data:
 Item Name     Ayam Goreng
Qty                     2
Price                5000
TotalPrice          10000
dtype: object
Qty:  2
Price:  5000
Total Price:  10000

- Average -

All data:
 Qty               5.000000
Price          7333.333333
TotalPrice    43666.666667
dtype: float64
Qty:  5.0
Price:  7333.333333333333
Total Price:  43666.666666666664

- Summary -

All data:
 Item Name     Ayam GorengMie GorengDonat
Qty                                   15
Price                              22000
TotalPrice                        131000
dtype: object
Qty:  15
Price:  22000
Total Price:  131000

# DATA FRAME - LOAD CSV

Load data from Iris.csv

In [68]:
import pandas as pd

irisData = pd.read_csv("iris.csv", names=["SepalLength", "SepalWidth", "PetalLength","PetalWidth","Class"])
print(irisData.head())

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          NaN         0.2  Iris-setosa

Play around with NaN

In [84]:
print(irisData["PetalLength"][4] + irisData["PetalWidth"][4] )

nan

Check if any data is null or NaN

In [80]:
print(irisData.isna())
print(irisData.isna().values.any())

     SepalLength  SepalWidth  PetalLength  PetalWidth  Class
0          False       False        False       False  False
1          False       False        False       False  False
2          False       False        False       False  False
3          False       False        False       False  False
4          False       False         True       False  False
..           ...         ...          ...         ...    ...
145        False       False        False       False  False
146        False       False        False       False  False
147        False       False        False        True  False
148        False       False        False       False  False
149        False       False        False       False  False

[150 rows x 5 columns]
True

Remove all the NaN Values

In [81]:
newIrisDataDrop = irisData.dropna()
print(newIrisDataDrop.isna().values.any())
print(len(newIrisDataDrop))

False
146

Replace all the NaN Values with 0

In [82]:
newIrisDataFill = irisData.fillna(0)
print(newIrisDataFill.isna().values.any())
print(len(newIrisDataFill))

False
150

# Week 1 Solution

In [90]:
import pandas as pd

dataListings = pd.read_csv("listings.csv")
print(dataListings.head())

print(dataListings.isna().values.any())
newDataListingsDrop = dataListings.dropna()
newDataListingsFill = dataListings.fillna(0)
print("Original Length:", len(dataListings))
print("Dropped Length:", len(newDataListingsDrop))
print("Replaced Length:", len(newDataListingsFill))

      id  ... availability_365
0  49091  ...              365
1  50646  ...              365
2  56334  ...              365
3  71609  ...              353
4  71896  ...              355

[5 rows x 16 columns]
True
Original Length: 7907
Dropped Length: 5148
Replaced Length: 7907