## DATA FRAME - BASIC

Manually Insert Data to Data Frame.

In [52]:
import pandas as pd
D = {"Item Name": ["Ayam Goreng", "Mie Goreng", "Donat"], "Qty": [10, 2, 3] , "Price": [10000, 5000, 7000]}
data = pd.DataFrame(D)
print(data)

     Item Name  Qty  Price
0  Ayam Goreng   10  10000
1   Mie Goreng    2   5000
2        Donat    3   7000

Insert new column to the Data Frame

In [53]:
totalPrice = pd.Series([])
for i in range(len(data)):
  totalPrice[i] = data["Qty"][i] * data["Price"][i] 

data.insert(3, "TotalPrice", totalPrice)
print(data)

     Item Name  Qty  Price  TotalPrice
0  Ayam Goreng   10  10000      100000
1   Mie Goreng    2   5000       10000
2        Donat    3   7000       21000

Get the statistics of the data from the Data Frame

In [54]:
maxValue = data.max()
print("- Maximum -\n")
print("All data: \n", maxValue)
print("Qty: ", maxValue["Qty"])
print("Price: ", maxValue["Price"])
print("Total Price: ", maxValue["TotalPrice"])

minValue = data.min()
print("\n- Minimum -\n")
print("All data: \n", minValue)
print("Qty: ", minValue["Qty"])
print("Price: ", minValue["Price"])
print("Total Price: ", minValue["TotalPrice"])

avgValue = data.mean()
print("\n- Average -\n")
print("All data: \n", avgValue)
print("Qty: ", avgValue["Qty"])
print("Price: ", avgValue["Price"])
print("Total Price: ", avgValue["TotalPrice"])


sumValue = data.sum()
print("\n- Summary -\n")
print("All data: \n", sumValue)
print("Qty: ", sumValue["Qty"])
print("Price: ", sumValue["Price"])
print("Total Price: ", sumValue["TotalPrice"])

- Maximum -

All data:
 Item Name     Mie Goreng
Qty                   10
Price              10000
TotalPrice        100000
dtype: object
Qty:  10
Price:  10000
Total Price:  100000

- Minimum -

All data:
 Item Name     Ayam Goreng
Qty                     2
Price                5000
TotalPrice          10000
dtype: object
Qty:  2
Price:  5000
Total Price:  10000

- Average -

All data:
 Qty               5.000000
Price          7333.333333
TotalPrice    43666.666667
dtype: float64
Qty:  5.0
Price:  7333.333333333333
Total Price:  43666.666666666664

- Summary -

All data:
 Item Name     Ayam GorengMie GorengDonat
Qty                                   15
Price                              22000
TotalPrice                        131000
dtype: object
Qty:  15
Price:  22000
Total Price:  131000

# DATA FRAME - LOAD CSV

Load data from Iris.csv

In [0]:
import pandas as pd

irisData = pd.read_csv("iris.csv", names=["SepalLength", "SepalWidth", "PetalLength","PetalWidth","Class"])
print(irisData.head())

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          NaN         0.2  Iris-setosa

Play around with NaN

In [0]:
print(irisData["PetalLength"][4] + irisData["PetalWidth"][4] )

nan

Check if any data is null or NaN

In [0]:
print(irisData.isna())
print(irisData.isna().values.any())

     SepalLength  SepalWidth  PetalLength  PetalWidth  Class
0          False       False        False       False  False
1          False       False        False       False  False
2          False       False        False       False  False
3          False       False        False       False  False
4          False       False         True       False  False
..           ...         ...          ...         ...    ...
145        False       False        False       False  False
146        False       False        False       False  False
147        False       False        False        True  False
148        False       False        False       False  False
149        False       False        False       False  False

[150 rows x 5 columns]
True

Remove all the NaN Values

In [0]:
newIrisDataDrop = irisData.dropna()
print(newIrisDataDrop.isna().values.any())
print(len(newIrisDataDrop))

False
146

Replace all the NaN Values with 0

In [0]:
newIrisDataFill = irisData.fillna(0)
print(newIrisDataFill.isna().values.any())
print(len(newIrisDataFill))

False
150

# Week 1 Solution

Replace and Dropped All values with 0

In [48]:
import pandas as pd

dataListings = pd.read_csv("listings.csv")
print(dataListings.head())

print(dataListings.isna().values.any())
newDataListingsDrop = dataListings.dropna()
newDataListingsFill = dataListings.fillna(0)
print("Original Length:", len(dataListings))
print("Dropped Length:", len(newDataListingsDrop))
print("Replaced Length:", len(newDataListingsFill))

      id  ... availability_365
0  49091  ...              365
1  50646  ...              365
2  56334  ...              365
3  71609  ...              353
4  71896  ...              355

[5 rows x 16 columns]
True
Original Length: 7907
Dropped Length: 5148
Replaced Length: 7907
            id  ... availability_365
0        49091  ...              365
1        50646  ...              365
2        56334  ...              365
3        71609  ...              353
4        71896  ...              355
...        ...  ...              ...
7902  38105126  ...               61
7903  38108273  ...              365
7904  38109336  ...              173
7905  38110493  ...               30
7906  38112762  ...              365

[7907 rows x 16 columns]

Replaced by the mean of each column

In [45]:
for i in dataListings:
  print(i, dataListings.loc[:,i].isna().values.any())

newDataListingsFill2 = dataListings
for i in dataListings:
  if dataListings.loc[:,i].dtypes == object :
    newDataListingsFill2.loc[:,i] = dataListings.loc[:,i].fillna("Not Available")
  else :
    mean = dataListings.loc[:,i].mean()
    newDataListingsFill2.loc[:,i] = dataListings.loc[:,i].fillna(mean)

print(newDataListingsFill2)

id False
name True
host_id False
host_name False
neighbourhood_group False
neighbourhood False
latitude False
longitude False
room_type False
price False
minimum_nights False
number_of_reviews False
last_review True
reviews_per_month True
calculated_host_listings_count False
availability_365 False
            id  ... availability_365
0        49091  ...              365
1        50646  ...              365
2        56334  ...              365
3        71609  ...              353
4        71896  ...              355
...        ...  ...              ...
7902  38105126  ...               61
7903  38108273  ...              365
7904  38109336  ...              173
7905  38110493  ...               30
7906  38112762  ...              365

[7907 rows x 16 columns]

Max, Min, Mean

In [61]:
for i in newDataListingsFill:
  if newDataListingsFill.loc[:,i].dtypes != object :
    print("Max value of ", i, "in newDataListingsFill is ", newDataListingsFill.loc[:,i].max())
    print("Min value of ", i, "in newDataListingsFill is ", newDataListingsFill.loc[:,i].min())
    print("Mean value of ", i, "in newDataListingsFill is ", newDataListingsFill.loc[:,i].mean())

for i in newDataListingsFill2:
  if newDataListingsFill2.loc[:,i].dtypes != object :
    print("Max value of ", i, "in newDataListingsFill2 is ", newDataListingsFill2.loc[:,i].max())
    print("Min value of ", i, "in newDataListingsFill2 is ", newDataListingsFill2.loc[:,i].min())
    print("Mean value of ", i, "in newDataListingsFill2 is ", newDataListingsFill2.loc[:,i].mean())

for i in newDataListingsDrop:
  if newDataListingsDrop.loc[:,i].dtypes != object :
    print("Max value of ", i, "in newDataListingsDrop is ", newDataListingsDrop.loc[:,i].max())
    print("Min value of ", i, "in newDataListingsDrop is ", newDataListingsDrop.loc[:,i].min())
    print("Mean value of ", i, "in newDataListingsDrop is ", newDataListingsDrop.loc[:,i].mean())

Max value of  id in newDataListingsFill is  38112762
Min value of  id in newDataListingsFill is  49091
Mean value of  id in newDataListingsFill is  23388624.629568737
Max value of  host_id in newDataListingsFill is  288567551
Min value of  host_id in newDataListingsFill is  23666
Mean value of  host_id in newDataListingsFill is  91144807.40533705
Max value of  latitude in newDataListingsFill is  1.45459
Min value of  latitude in newDataListingsFill is  1.24387
Mean value of  latitude in newDataListingsFill is  1.314192464904513
Max value of  longitude in newDataListingsFill is  103.97341999999999
Min value of  longitude in newDataListingsFill is  103.64656
Mean value of  longitude in newDataListingsFill is  103.84878745794845
Max value of  price in newDataListingsFill is  10000
Min value of  price in newDataListingsFill is  0
Mean value of  price in newDataListingsFill is  169.33299607942328
Max value of  minimum_nights in newDataListingsFill is  1000
Min value of  minimum_nights in newDataListingsFill is  1
Mean value of  minimum_nights in newDataListingsFill is  17.510054382192994
Max value of  number_of_reviews in newDataListingsFill is  323
Min value of  number_of_reviews in newDataListingsFill is  0
Mean value of  number_of_reviews in newDataListingsFill is  12.807385860629822
Max value of  reviews_per_month in newDataListingsFill is  13.0
Min value of  reviews_per_month in newDataListingsFill is  0.0
Mean value of  reviews_per_month in newDataListingsFill is  0.6796319716706684
Max value of  calculated_host_listings_count in newDataListingsFill is  274
Min value of  calculated_host_listings_count in newDataListingsFill is  1
Mean value of  calculated_host_listings_count in newDataListingsFill is  40.60768938914885
Max value of  availability_365 in newDataListingsFill is  365
Min value of  availability_365 in newDataListingsFill is  0
Mean value of  availability_365 in newDataListingsFill is  208.72631845200456
Max value of  id in newDataListingsFill2 is  38112762
Min value of  id in newDataListingsFill2 is  49091
Mean value of  id in newDataListingsFill2 is  23388624.629568737
Max value of  host_id in newDataListingsFill2 is  288567551
Min value of  host_id in newDataListingsFill2 is  23666
Mean value of  host_id in newDataListingsFill2 is  91144807.40533705
Max value of  latitude in newDataListingsFill2 is  1.45459
Min value of  latitude in newDataListingsFill2 is  1.24387
Mean value of  latitude in newDataListingsFill2 is  1.314192464904513
Max value of  longitude in newDataListingsFill2 is  103.97341999999999
Min value of  longitude in newDataListingsFill2 is  103.64656
Mean value of  longitude in newDataListingsFill2 is  103.84878745794845
Max value of  price in newDataListingsFill2 is  10000
Min value of  price in newDataListingsFill2 is  0
Mean value of  price in newDataListingsFill2 is  169.33299607942328
Max value of  minimum_nights in newDataListingsFill2 is  1000
Min value of  minimum_nights in newDataListingsFill2 is  1
Mean value of  minimum_nights in newDataListingsFill2 is  17.510054382192994
Max value of  number_of_reviews in newDataListingsFill2 is  323
Min value of  number_of_reviews in newDataListingsFill2 is  0
Mean value of  number_of_reviews in newDataListingsFill2 is  12.807385860629822
Max value of  reviews_per_month in newDataListingsFill2 is  13.0
Min value of  reviews_per_month in newDataListingsFill2 is  0.01
Mean value of  reviews_per_month in newDataListingsFill2 is  1.0436686735289245
Max value of  calculated_host_listings_count in newDataListingsFill2 is  274
Min value of  calculated_host_listings_count in newDataListingsFill2 is  1
Mean value of  calculated_host_listings_count in newDataListingsFill2 is  40.60768938914885
Max value of  availability_365 in newDataListingsFill2 is  365
Min value of  availability_365 in newDataListingsFill2 is  0
Mean value of  availability_365 in newDataListingsFill2 is  208.72631845200456
Max value of  id in newDataListingsDrop is  37852422
Min value of  id in newDataListingsDrop is  49091
Mean value of  id in newDataListingsDrop is  21437472.39121989
Max value of  host_id in newDataListingsDrop is  282332472
Min value of  host_id in newDataListingsDrop is  23666
Mean value of  host_id in newDataListingsDrop is  80321178.93900543
Max value of  latitude in newDataListingsDrop is  1.45203
Min value of  latitude in newDataListingsDrop is  1.24391
Mean value of  latitude in newDataListingsDrop is  1.313295291375289
Max value of  longitude in newDataListingsDrop is  103.97341999999999
Min value of  longitude in newDataListingsDrop is  103.64656
Mean value of  longitude in newDataListingsDrop is  103.84981773892754
Max value of  price in newDataListingsDrop is  10000
Min value of  price in newDataListingsDrop is  0
Mean value of  price in newDataListingsDrop is  151.3111888111888
Max value of  minimum_nights in newDataListingsDrop is  700
Min value of  minimum_nights in newDataListingsDrop is  1
Mean value of  minimum_nights in newDataListingsDrop is  12.465229215229215
Max value of  number_of_reviews in newDataListingsDrop is  323
Min value of  number_of_reviews in newDataListingsDrop is  1
Mean value of  number_of_reviews in newDataListingsDrop is  19.67055167055167
Max value of  reviews_per_month in newDataListingsDrop is  13.0
Min value of  reviews_per_month in newDataListingsDrop is  0.01
Mean value of  reviews_per_month in newDataListingsDrop is  1.0438539238539188
Max value of  calculated_host_listings_count in newDataListingsDrop is  274
Min value of  calculated_host_listings_count in newDataListingsDrop is  1
Mean value of  calculated_host_listings_count in newDataListingsDrop is  35.22222222222222
Max value of  availability_365 in newDataListingsDrop is  365
Min value of  availability_365 in newDataListingsDrop is  0
Mean value of  availability_365 in newDataListingsDrop is  201.1447163947164